body {
	font-family:Calibri, Arial;
	color:#094a93;
	/*margin-top: 0px;
	margin-bottom: 0px;*/
	scrollbar-face-color: #d7d7d7;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
}
::-webkit-scrollbar {
	  width: 10px;
} /* this targets the default scrollbar (compulsory) */
::-webkit-scrollbar-track {
	  background-color: #ffffff;
} /* the new scrollbar will have a flat appearance with the set background color */
::-webkit-scrollbar-thumb {
	  background-color: rgba(0, 0, 0, 0.2);
	  -webkit-border-radius:5px;
} /* this will style the thumb, ignoring the track */
::-webkit-scrollbar-button {
	  background-color: #ffffff;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
::-webkit-scrollbar-corner {
	  background-color: black;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */


.headerbg {
	background: #eee; /* Old browsers */
	background: #eee -moz-linear-gradient(top, rgba(159,159,159,.5) 0%, rgba(73,72,72,1.00) 100%); /* FF3.6+ */
	background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(159,159,159,.5)), color-stop(100%,rgba(73,72,72,1.00))); /* Chrome,Safari4+ */
	background: #eee -webkit-linear-gradient(top, rgba(159,159,159,.5) 0%,rgba(73,72,72,1.00) 100%); /* Chrome10+,Safari5.1+ */
	background: #eee -o-linear-gradient(top, rgba(159,159,159,.5) 0%,rgba(73,72,72,1.00) 100%); /* Opera11.10+ */
	background: #eee -ms-linear-gradient(top, rgba(159,159,159,.5) 0%,rgba(73,72,72,1.00) 100%); /* IE10+ */
	background: #eee linear-gradient(top, rgba(159,159,159,.5) 0%,rgba(73,72,72,1.00) 100%); /* W3C */
	border-bottom: 1px solid #000000;
}
.logotext {
	color: #ffffff;
	text-shadow: 0px -1px #6a6969;
	margin: 0px 10px 0px 10px;
}
.welcome {
	padding: 7px 10px 7px 15px;
	margin: 9px 10px 8px 10px;
	border-radius:15px;
	color: #cdcdcd;
	border-top: 1px solid #878787;
	border-bottom: 1px solid #878787;
	background: #ffffff; /* Old browsers */
	background: #ffffff -moz-linear-gradient(top, rgba(159,159,159,.2) 0%, rgba(255,255,255,1.00) 100%); /* FF3.6+ */
	background: #ffffff -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(159,159,159,.2)), color-stop(100%,rgba(255,255,255,1.00))); /* Chrome,Safari4+ */
	background: #ffffff -webkit-linear-gradient(top, rgba(159,159,159,.2) 0%,rgba(255,255,255,1.00) 100%); /* Chrome10+,Safari5.1+ */
	background: #ffffff -o-linear-gradient(top, rgba(159,159,159,.2) 0%,rgba(255,255,255,1.00) 100%); /* Opera11.10+ */
	background: #ffffff -ms-linear-gradient(top, rgba(159,159,159,.2) 0%,rgba(255,255,255,1.00) 100%); /* IE10+ */
	background: #ffffff linear-gradient(top, rgba(159,159,159,.2) 0%,rgba(255,255,255,1.00) 100%); /* W3C */

}
/* panel kiri */
.panelkiri{
	background: #eaeaea;
}
.contentcontainer {
	background: #ffffff;
	border:solid 1px #cdcdcd;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
}
.default {
	font-size:12px;
}
.logo{
	width:150px;
	height:auto;
}

/* panel kanan */
.panelkanan {
	background: #e4e4e5; /*url('../images/spacer_invoice.png');*/
	background-repeat:repeat-y;
}
.menucontainer {
	padding-top:15px;
	padding-right:15px;
	padding-left:15px;
	padding-bottom:0px;
	/*overflow:auto;
	height:100%;*/
}
.menucontainer a {
	text-decoration:none;
}
.menucontainer ul {
	line-height:20px;
	padding-left:15px;
}
.submitbutton {
	background:url('../images/blue_button.png');
	width:150px;
	height:30px;
	text-align:center;
	padding:0px;
	margin:auto;
	border:0px;
	color:#ffffff;
}